/* CSS declarations go here */
.top-margin{
  margin-top: 50px;
}

#viewer_iframe{
  border: 1px solid gray;
  width: 100%;
  height: 300px;
  resize: both;

}

.light-border{
  border: 1px solid gray;
  width: 100%;
}
